

{% block title %}Edit PricingPlan{% endblock %}

{% block body %}
    <h1>Edit PricingPlan</h1>

    {{ include('admin_pricing_plan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_pricing_plan_index') }}">back to list</a>

    {{ include('admin_pricing_plan/_delete_form.html.twig') }}
{% endblock %}
