

{% block title %}New PricingPlanBenefit{% endblock %}

{% block body %}
    <h1>Create new PricingPlanBenefit</h1>

    {{ include('admin_pricing_plan_benefit/_form.html.twig') }}

    <a href="{{ path('app_admin_pricing_plan_benefit_index') }}">back to list</a>
{% endblock %}
